.additionalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}

.additionalData__h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.additionalData__options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  flex-wrap: wrap;
  height: 10rem;
  align-content: space-around;
  justify-content: flex-start;
  text-align: center;
}

.additionalData__options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.additionalData__options input[type="radio"] {
  display: none;
}

.additionalData__options .additionalData__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.additionalData__options .additionalData__radio:hover {
  background-color: #f2f2f2;
}

.additionalData__options input[type="radio"]:checked + .additionalData__radio {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.additionalData__options .additionalData__radio:hover,
.additionalData__options input[type="radio"]:checked + .additionalData__radio {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.additionalData__options input[type="radio"]:checked + .additionalData__radio {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.additionalData__options input[type="radio"]:checked + .additionalData__radio::before {
  content: "\2713";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-right: 5px;
}

.additionalData__input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 18px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.additionalData__label {
  font-size: 1.2rem;
  padding: 1rem;
  white-space: nowrap;
}

.invalid {
  border-color: red;
}

.additionalData__imprecisionBox {
  display: flex;
  width: -webkit-fill-available;
}

.additionalData__note {
  margin-top: 1rem;
  font-size: 14px;
  text-align: center;
}

.additionalData__button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: fit-content;
}

.additionalData__button--prev {
  background-color: #f2f2f2;
  color: black;
}
  
.additionalDataBox__button--prev:hover {
  background-color: #d9d9d9;
}
  
.additionalDataBox__button--next {
  background-color: #007bff;
}
  
.additionalDataBox__button--next:hover {
  background-color: #0069d9;
} 

.nominalBox__button--previous {
  margin-right: auto;
  background-color: #888;
}

.nominalBox__button--next {
  margin-left: auto;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.msg_erro {
    font-size: 1.2rem;
    font-style: italic;
    color: #ff0000;
    text-align: center;
    margin: 0;
    padding: 1rem;
}