.containerDataBox {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 33rem;
    margin: 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.containerInnerDataBox{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.tituloDataBox {
    font-size: 1.5rem;
    color: black;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
}

.pDataBox {
    margin: 1.5rem;
}